@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600');

body{
    margin: 0px;
    padding: 0px;
    /* height: 2000px; */
}

.main-container{
    position: relative;
}

.bb{
    border: 1px solid red;
}

ul{
    list-style-type: none;
}

*{
     box-sizing: border-box; 
}

/* ---------- Navigation bar ---------- */

.nav-container{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 4em;
    z-index: 5;
}

.nav-container nav{
    padding-top: 50px;
    min-width: 900px;
}

.nav-container nav .logo{
    display: inline;
    margin-right: 3.125%;
    width: 14.0625%;
}

.nav-container nav .logo img{
    vertical-align: middle;
    height: 33px;
    width: 100px;
}

.nav-container nav ul{
    float: right;
    width: 82.8125%;
    margin-right: 0;
    text-align: right;
    margin-top: 3px;
}

.nav-container nav ul li{
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.nav-container nav ul li a:hover{
    color: #f36;
}

.nav-container nav ul li a{
    padding: 3px 15px;
    font-size: 14.5px;
    color: #fff;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    line-height: 1em;
    display: block;
    transition: all .2s ease-in-out;
    letter-spacing: .05em;
    cursor: pointer;
    text-decoration: none;
}

.nav-container nav ul li:last-child{
    height: 40px;
}

.nav-container nav ul li:last-child a{
    color: #f36;
    border: 1px #f36 solid;
    border-radius: 6.25em;
    padding: 12px 30px;
    margin-left: 15px;
}

.nav-container nav ul li:last-child a:hover{
    color: #fff;
    background-color: #f36;
}

/*---------- Header with Video ----------*/

header.hero{
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 0px;
    left:0px;
    background-size: cover;
    z-index: -5;
}

header.hero .filter{
    position: relative;
}

.filter {
    position: absolute;
    background: rgba(25,29,34,.75);
    width: 100%;
}

header .hero-container{
    padding: 15.3125em 0 13.75em;
    text-align: center;
    max-width: 82.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header .hero-container .hero-title {
    color: #FFF;
    font: 400 2.875em/1.30435 'Ek Mukta', sans-serif;;
    text-transform: uppercase;
    letter-spacing: .075em;
    margin-bottom: .375em;
}

header .hero-container .hero-subtitle {
    color: #FFF;
    font: italic 300 1.5em "Open Sans",open-sans,sans-serif;
    margin-bottom: 1.5em;
    letter-spacing: .005em;
}

.hero-container .button {
    margin-top:  3.125em;
}

.hero-container .button a{
    font-size: 15px;
    font-family: 'Ek Mukta', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #f36;
    border-radius: 6.25em;
    color: #FFF;
    background-color: #f36;
}


/*---------- Video ----------*/

.video-container {
  position: absolute;
  z-index: -6;
  width: 100%;
  top: 0px;
  left: 0px;
}

video.fullwidth{
    width: 100%;
}

/*---------- Trusted by ----------*/

section.trusted-by{
    padding: 0;
    font-size: 16px;
    position: relative;
    z-index: 10;
    background: #f9f9fa;
}

section.trusted-by .inside{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    clear: both;
}

section.trusted-by ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5em;
    max-width: 64.875em;
    margin: 0 auto;
}
section.trusted-by{
    position: absolute;
    width: 100%;
}

section.trusted-by li {
    text-align: center;
    padding: 0;
}

section.trusted-by ul li.airbnb span{
    height: 26px;
    width: 82px;
    background-position: 0 -86px;
}

section.trusted-by ul li.shopify span{
    height: 27px;
    width: 92px;
    background-position: 0 -2037px;
}

section.trusted-by ul li.salesforce span{
    height: 38px;
    width: 53px;
    background-position: 0 -1952px;
}

section.trusted-by ul li.twitter span{
    height: 22px;
    width: 27px;
    background-position: 0 -3725px;
}

section.trusted-by ul li.netflix span{
    height: 21px;
    width: 78px;
    background-position: 0 -1769px;
}

section.trusted-by ul li.dropbox span{
    height: 26px;
    width: 116px;
    background-position: 0 -987px;
}

section.trusted-by ul li.huge span{
    height: 22px;
    width: 55px;
    background-position: 0 -1545px;
}


section.trusted-by ul li.airbnb span,section.trusted-by ul li.shopify span,
section.trusted-by ul li.salesforce span,section.trusted-by ul li.twitter span,
section.trusted-by ul li.netflix span,section.trusted-by ul li.dropbox span,
section.trusted-by ul li.huge span{
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/sprites-retina/global/home-s2852c4f65e.png");
    background-repeat: no-repeat;
}

section.trusted-by li span {
    position: relative;
    vertical-align: bottom;
    overflow: hidden;
    text-transform: capitalize;
    filter: alpha(Opacity=70);
    opacity: .7;
}